<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Menu + Submenu
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Menu 1</a></li>
    <li><a class="dropdown-item" href="#">Menu 2</a></li>
    <li><a class="dropdown-item" href="#">Menu 3</a></li>
    <li><hr class="dropdown-divider"></li>
    <li class="nav-item dropdown">
      <li>
        <a class="dropdown-item">
          SubMenu &raquo;
        </a>
        <ul class="dropdown-menu dropdown-submenu">
          <li><a class="dropdown-item" href="#">SubMenu 1</a></li>
          <li><a class="dropdown-item" href="#">SubMenu 2</a></li>
          <li><a class="dropdown-item" href="#">SubMenu 3</a></li>
        </ul>
      </li>
  </ul>
</li>